@media  (min-width:350px ) and (max-width:760px) {
   /* header */
  .nav{
    display: flex;
    gap: 15px;
    font-size: 0.8rem;
  }
   
   .logo{
    font-size: 1.3rem;
   }



  /* main */
.presentation img {
  height: 12rem;
}
.presentation h1 {
  font-size: 2rem;
}

.presentation P {
  font-size: 0.7rem;
}

.compétences {
  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: repeat(2,1fr);
  padding: 20px;
  gap: 10px;
}

.card1, .card2, .card3, .card4 {
  width: 200px;
  height: 7.5rem;
  font-size: 0.5rem;
}

.projets {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  text-align: center;
  align-content: center;
  padding: 20px;
}

.block {
  width: 100%;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
}

.about-me .gauche p{
  width: 100%;
  height: 300px;
  font-size: 1rem;
  line-height: none;
}

.about-me {

}

.about-me img {
  height: 10rem;
}

.local{
    font-size: 2px;
    
}
form {
    line-height: 30px;
    font-size: 20px;
    width: 50%;
    
}   


form textarea{
    height: 150px;
    width: 100%;
    margin-top: 20px;
  
}

}