@import url(global.css);
@import url(header.css);
@import url(main.css);
@import url(https://fonts.google.com/specimen/Inria+Serif?preview.script=Latn);
@import url(https://fonts.google.com/specimen/Inter?query=inter);
@import url(mobile.css);
:root {
     --primary-color:#F5EFE6 ;
    --secondary-color: #FFFFFF ;
    --fh-color:#A67C52;
    --card-color: #FFFF;
    --btn-color:#A67C52;
}